__pycache__/**
offline_data_1.pkl
offline_data_2.pkl
offline_data_3.pkl
offline_data_4.pkl
array_as_numpy.npy
*.pyc
venv/**
cprintmoduledir/**
array_as_numpy.npy
five_point_config.json
__pycache__/basic_radar_equation.cpython-310.pyc
marathon_0.pkl
__pycache__/basic_radar_equation.cpython-310.pyc
__pycache__/classes.cpython-310.pyc
npextdir/**
*.pkl
*.pyc
